<div class="wrapper-md" ng-controller="SwitchController">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            开关配置
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation" name="aboutForm" novalidate>
                <div class="form-group col-lg-5" style="position: relative;">
                    <label>自动实名认证</label>
                    <label class="i-switch" style="position: absolute;margin-left: 10px">
                        <input type="checkbox" ng-checked="configOBJ.value"  ng-model="configOBJ.value" ng-click="saveConfig(configOBJ)">
                        <i></i>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
