<div class="wrapper-md" ng-controller="UpdateController">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            APP升级
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation" name="updateForm" ng-submit="pushData(update)" novalidate>
                <div class="form-group m-t-xxl">
                    <label class="col-lg-2 control-label">当前版本：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="update.data.lastVersion" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">升级类型：</label>
                    <div class="col-lg-5">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="updateType" value="0" ng-model="update.updateType">普通升级
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="updateType" ng-model="update.updateType" value="1">强制升级
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group"  ng-if="update.updateType=='1'">
                    <label class="col-lg-2 control-label">强制升级版本区间：</label>
                    <div class="col-lg-2" style="width: 19%">
                        <input type="text" class="form-control" ng-model="update.lowVersion">
                    </div>
                    <div class="col-lg-1" style="text-align: center;width: 2%">
                        <span>~</span>
                    </div>
                    <div class="col-lg-2" style="width: 19%">
                        <input type="text" class="form-control" ng-model="update.highVersion">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Android下载：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="update.data.downloadUrl" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">IOS下载：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="update.data.iosDownloadUrl" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">升级描述：</label>
                    <div class="col-lg-5">
                <textarea rows="10" cols="20" class="form-control" ng-model="update.data.updateMsg" required>
                </textarea>
                    </div>
                </div>
                <div class="form-group m-b-xxl m-t-xl">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-sm btn-success"  ng-disabled="updateForm.$invalid">更改</button>
                        <button type="button" class="btn btn-sm btn-default" ng-click="pullData()">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
