@import "../common/public";
@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
em{font-style: normal;}
@mixin rotate($deg){
	transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
}

.question{
	padding: 0.933333rem 0.266667rem 0.4rem;
	@include font-dpr(18px);
	display: table;
	.num{
		display: table-cell;
		color: #2E7AF0;
		white-space: nowrap;
		em{
			@include font-dpr(12px);
			margin-right: 0.266667rem;
			display: inline-block;
			transform:translate(0,0.133333rem);
		}
	}
	.title{
		display: table-cell;
	}
}
.option_list{
	@include font-dpr(16px);
	border-top: 1px solid $border-color;
    user-select: none;
	li{
		display: block;
		padding: 0.466667rem 0 0.466667rem 0.333333rem;
		border-bottom: 1px solid $border-color;
		cursor: pointer;
		.radio{
			margin-right: 0.666667rem;
		}
	}
	.choosed{
		background: #f5f5f5;
	}
}
.result_wrap{
	padding: 0.4rem 0.4rem 0.666667rem 0.4rem;
	position: relative;
	line-height: 0.84rem;
	background: #fff;
	border: 1px solid $border-color;
	border-top: 0;
	color: #777;
	@include font-dpr(16px);
	h4{
		text-align:center;
		color: #2e7af0;
		@include font-dpr(18px);
		padding:0.6rem 0;
		font-weight: normal;
	}
	h5{
		text-align:center;
		font-weight: normal;
		border-top: 1px solid $border-color;
		padding-top: 0.266667rem;
		@include font-dpr(16px);
		em{
			border-bottom: 4px solid #2e7af0;
			padding-bottom: 0.213333rem;
		}
	}
	p{
		margin:0.4rem 0;
		padding:0.98rem 0 0.233333rem;
		position:relative;
		@include font-dpr(14px);
		strong{
			@include font-dpr(16px);
			display: inline-block;
			position: absolute;
			color: #333;
			top:0;
			left:0;
			font-weight: normal;
			em{
				display: inline-block;
				vertical-align: middle;
				width: 0.56rem;
				height: 0.56rem;
				background: url("../../images/measurement/icon_qj.png") no-repeat;
				background-size: contain;
				margin-right: 0.4rem;
				&.icon_ys{
					background-image: url("../../images/measurement/icon_ys.png")
				}
				&.icon_bj{
					background-image: url("../../images/measurement/icon_bj.png")
				}
				&.icon_dl{
					background-image: url("../../images/measurement/icon_dl.png")
				}
				&.icon_qz{
					background-image: url("../../images/measurement/icon_qz.png")
				}
			}
		}
	}
	.txt{
		margin-top:1.066667rem;
		text-align: center;
		color: #999;
		b,em{
			border-color: $border-color;
			@include font-dpr(14px);
		}
	}
}
.question_item{
	display: none;
}
.wuxiao{
	text-align: center;
	padding-bottom:0.8rem;
	p{
		padding: 1.333333rem 0.4rem 2.333333rem 0.8rem;
		@include font-dpr(16px);
		background: #fff;
		border:1px solid $border-color;
		margin-bottom: 0.8rem;
		text-align: left;
	}
}
.btn_default{
	background-color: #ccc;
}

.btn_box{
    text-align: center;
    #submit{
        display: none;
        width: 80vw;
        margin: 0 auto;
        outline: none;
        border: 0;
    }
    .btn_up{
        float: left;
        margin-left: 10%;
    }
    .btn_down{
        float: right;
        margin-right: 10%;
    }
    .btn_up,.btn_down{
        margin-bottom: 0.6666666666666666rem;
    	border: 0;
        padding: 0.26666666666666666rem 0.6666666666666666rem;
        background-color: #CCC;
        color: #fff;
        @include font-dpr(14px);
        outline: none;
        border-radius: 0.13333333333333333rem;
    }
}
