<div class="wrapper-md" ng-controller="HomeSettingCtrl">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            首页板块设置
            <div class="r">
                <button class="btn m-b-xs btn-sm btn-primary btn-addon" ng-click="addHome()">
                    <i class="fa fa-plus"></i>添加
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="wrapper searchbox clearfix m-b-sm">
                <form class="form-inline">
                    <div class="col-sm-12 m-b-xs">
                        <label class="control-label">版本号：</label>
                        <select class="form-control w-sm inline v-middle formGroup" style="width: 150px" ng-model="homeObj.version">
                            <option value="">全部</option>
                            <option ng-repeat="version in versionList track by $index" value="{{version}}">{{version}}</option>
                        </select>
                        <button type="button" class="btn btn-success" ng-click="search(homeObj)">
                            <i class="fa fa-search"></i>查询
                        </button>
                    </div>
                </form>
            </div>
            <table class="table m-b-none table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>排序</th>
                    <th>Icon版本号</th>
                    <th>备注</th>
                    <th>更新时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in pager.data">
                    <td>{{$index+1}}</td>
                    <td>{{item.version}}</td>
                    <td>{{item.remark}}</td>
                    <td>{{item.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{item.delFlag==0?'上线中':'已下线'}}</td>
                    <td>
                        <button class="btn m-b-xs btn-sm btn-default" ng-click="editHome(item.id)"><i class="fa fa-pencil"></i>编辑</button>
                        <button class="btn m-b-xs btn-sm btn-success" ng-click="copyHome(item.id)"><i class="fa fa-copy"></i>复制</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
