<div class="wrapper" ng-controller="helpCenterMoreController">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            健康双流 - 问题列表
            <div class="r">
                <button class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="deleteItems()"><i class="fa fa-minus"></i>批量删除</button>
                <a class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.help.helpCenterMoreEdit"><i class="fa fa-plus"></i>添加</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th width="8%"><choose-all></choose-all></th>
                        <th>NO</th>
                        <th>问题</th>
                        <th>排序</th>
                        <th width="15%">创建时间</th>
                        <th width="10%">是否启用</th>
                        <th width="10%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in pager.data">
                        <td choose item-id="item.id"></td>
                        <td>{{$index+1}}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.sort }}</td>
                        <td>{{ item.create_date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td ng-bind="item.is_visable==1 ? '否' : '是'"></td>
                        <td>
                            <button class="btn btn-sm btn-default" ng-click="questionEdit(item.id)"><i class="fa fa-pencil"></i>编辑</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="hide-if-no-paging" paging-pager="pager" go-page="goPage(number)" paging></tfoot>
            </table>
        </div>
    </div>
</div>
