<!DOCTYPE HTMl>
<html>
<head>
<title>提取处方</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/prescribing/prescribing.min.css')%>">
</head>
<body>
<div class="index-box">
  <p><input type="text" name="name" placeholder="请输入医院名称" class="ipt-text"></p>
  <p class="pos-relative">
    <span class="rarrow">
      <input type="text" name="timearea" placeholder="请选择时间段" class="ipt-text">
    </span>
  </p>
</div>
<p class="pos-fixed">
  <a href="" class="btn_normal bc3">提取</a>
</p>
</body>
</html>
