<!DOCTYPE HTMl>
<html>
<head>
<title>处方详情</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/prescribing/prescribing.min.css')%>">
</head>
<body>
<div class="list-box-prescribing list-box-info">
  <ul>
    <li>
      <div class="p_line">
          <label>开方日期：</label>
          <p>2019-09-01</p>
      </div>
      <div class="p_line">
          <label>医　　院：</label>
          <p>某某某某医院</p>
      </div>
      <div class="p_line">
          <label>科　　室：</label>
          <p>心血管科</p>
      </div>
      <div class="p_line">
          <label>金　　额：</label>
          <p>￥1,000.00</p>
      </div>
    </li>
  </ul>
</div>
<div class="block-box">
  <table width="100%" border="0">
    <tr>
      <td colspan="2">
        <em>药名：</em><span>阿莫西岭</span>
      </td>
    </tr>
    <tr>
      <td width="60%">
        <em>规格：</em><span>0.1g*36片/盒</span>
      </td>
      <td width="40%">
        <em>频度：</em><span>3次/日</span>
      </td>
    </tr>
    <tr>
      <td width="60%">
        <em>药量：</em><span>2盒</span>
      </td>
      <td width="40%">
        <em>用法：</em><span>口服</span>
      </td>
    </tr>
  </table>
</div>
<div class="block-box">
  <table width="100%" border="0">
    <tr>
      <td colspan="2">
        <em>药名：</em><span>阿莫西岭</span>
      </td>
    </tr>
    <tr>
      <td width="60%">
        <em>规格：</em><span>0.1g*36片/盒</span>
      </td>
      <td width="40%">
        <em>频度：</em><span>3次/日</span>
      </td>
    </tr>
    <tr>
      <td width="60%">
        <em>药量：</em><span>2盒</span>
      </td>
      <td width="40%">
        <em>用法：</em><span>口服</span>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
