<!DOCTYPE HTMl>
<html>
<head>
<title>提取处方</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/prescribing/prescribing.min.css')%>">
</head>
<body>
<div class="index-box">
  <p><input type="text" name="name" placeholder="支持模糊搜索" class="ipt-text"></p>
  <div class="search-box" style="display:block;">
    <ul>
      <li>
        蒙牛<span>随便</span>，我搜索的是<span>随便</span>
      </li>
      <li>
        <span>随便</span>搜点啥吧
      </li>
      <li>
        <span>随便</span>搜点啥吧
      </li>
    </ul>
  </div>
</div>
</body>
</html>
