<!DOCTYPE HTMl>
<html>
<head>
<title>电子处方</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/prescribing/prescribing.min.css')%>">
</head>
<body>
<div class="list-box-prescribing">
  <ul>
    <li>
      <div class="p_line">
          <label>开方日期：</label>
          <p>2019-09-01</p>
      </div>
      <div class="p_line">
          <label>医　　院：</label>
          <div class="td_p">
              <div class="max-hei-1">某某某某医院</div>
          </div>
      </div>
      <div class="p_line">
          <label>科　　室：</label>
          <p>心血管科</p>
      </div>
      <div class="p_line">
          <label>金　　额：</label>
          <p>￥1,000.00</p>
      </div>
      <span class="rarrow"></span>
    </li>
    <li>
      <div class="p_line">
          <label>开方日期：</label>
          <p>2019-09-01</p>
      </div>
      <div class="p_line">
          <label>医　　院：</label>
          <div class="td_p">
              <div class="max-hei-1">某某某某医院</div>
          </div>
      </div>
      <div class="p_line">
          <label>科　　室：</label>
          <p>心血管科</p>
      </div>
      <div class="p_line">
          <label>金　　额：</label>
          <p>￥1,000.00</p>
      </div>
      <span class="rarrow"></span>
    </li>
  </ul>
</div>
</body>
</html>
