<link rel="stylesheet" href="<%= _src('/css/article/downloadBar.min.css') %>">
<p style="height:2.08rem;"></p>
<footer>
    <button id="download" class="download">四川微健康</button>
</footer>
<script src="<%= _src('/libs/js/jquery.min.js') %>"></script>
<script>
    $(function() {
        $('#download').on('touchstart click', function() {
            event.stopPropagation();
            event.preventDefault();
            if (isWeixinBrowser()) {
                loadHtml();
                loadStyleText();
            } else if (isAndroid()) {
                window.location = '';
            } else if (isIOS()) {
                window.location = '';
            }
        })

        function isWeixinBrowser() {
            var ua = navigator.userAgent.toLowerCase();
            var isWB = ua.match(/MicroMessenger/i) == "micromessenger" || ua.match(/WeiBo/i) == "weibo" || ua.match(/qq/i) == "qq" && ua.match(/MQQBrowser/i) != "mqqbrowser";
            return isWB ? true : false;
        }

        function isAndroid() {
            var u = navigator.userAgent;
            return u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android终端
        }

        function isIOS() {
            var u = navigator.userAgent;
            return !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
        }

        function loadHtml() {
            var div = document.createElement('div');
            div.id = 'weixin-tip';
            div.innerHTML = '<p><img width="100%" src="http://img.wdjky.com/1474857542965" alt="微信打开"/></p>';
            document.body.appendChild(div);
        };

        function loadStyleText() {
            var cssText = "#weixin-tip{position: fixed; left:0; top:0; background: rgba(0,0,0,0.8); filter:alpha(opacity=80); width: 100%; height:100%; z-index: 100;} #weixin-tip p{text-align: center; margin-top: 10%; padding:0 5%;}";
            var style = document.createElement('style');
            style.rel = 'stylesheet';
            style.type = 'text/css';
            try {
                style.appendChild(document.createTextNode(cssText));
            } catch (e) {
                style.styleSheet.cssText = cssText; //ie9以下
            }
            var head = document.getElementsByTagName("head")[0]; //head标签之间加上style样式
            head.appendChild(style);
        };
    });
</script>
