@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}



.conbox{
  width: 100%;
  text-align: center;
  .pic{
    width:8.4rem;
    height: 7.466667rem;
    margin: 0.4rem auto 0;
  }
}

.txt-container{
  text-align: center;
  width: 100%;
  @include font-dpr(16px);
  p{
    position: relative;
    letter-spacing:5px;
    color: #9b9b9b;
    margin:0.4rem 0 0.266667rem;
  }
  .l-txt{
    @include font-dpr(23px);
    color: #333;
  }
}
.btm{
/*  position: absolute;
  bottom:1.6rem;*/
  width: 100%;
  text-align: center;
  margin-top: 0.6rem;
  .btn-goindex{
    color: #2E7AF0;
    border:1px solid #2E7AF0;
    display: inline-block;
    height:0.933333rem;
    line-height:0.933333rem;
    padding: 0 0.866667rem;
    @include font-dpr(16px);
    text-decoration: none;
    border-radius:0.533333rem;
    letter-spacing: 5px;

  }
}
.slide{height: 100vh;position: relative;}
.fp-controlArrow{display: none !important;}
#fp-nav li a span, .fp-slidesNav a span{border: none !important;background-color: #e1e1e1 !important;}
#fp-nav li .active span, .fp-slidesNav .active span{border: none !important;background-color: #2E7AF0 !important;}
.fp-slidesNav.bottom{bottom:0.133333rem;}
/*.conwrap{
position: relative;
height: 100vh;
}*/
.conwrap{
  position: absolute;
  top:40%;
  height:10.666667rem;
  margin-top: -5.333333rem;
  left: 50%;
  width: 8.533333rem;
  margin-left: -4.266667rem;
}
