<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maplist</key>
	<array>
		<dict>
			<key>urlPage</key>
			<string>webview</string>
			<key>object</key>
			<string>WDBaseWebViewController</string>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>userLogin</string>
			<key>object</key>
			<string>LoginViewController</string>
			<key>parameter</key>
			<dict>
				<key>hospitalId</key>
				<string>hospitalId</string>
			</dict>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>feedback</string>
			<key>object</key>
			<string>FeedBackViewController</string>
		</dict>
	</array>
</dict>
</plist>
