<div class="wrapper-md" ng-controller="AddAddressSettingCtrl">
    <form name="form" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="app.areaAddressSetting"><i class="fa fa-mail-reply"></i></a>
                <strong>{{title}}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group m-t-xxl">
                    <label class="col-lg-3 control-label">地区：</label>
                    <div class="col-lg-5">
                        <select class="form-control" ng-model="addressObj[0].areaCode" ng-change="changeArea(addressObj[0].areaCode)" ng-disabled="!isChoose" required>
                            <option value="">--请选择--</option>
                            <option ng-repeat="area in areaList track by $index" value="{{area.cityCode}}" ng-selected="addressObj[0].areaCode==area.cityCode">{{area.cityName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">地区代码：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="addressObj[0].areaCode" readonly required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">预约挂号调用地址：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="addressObj[0].apiUrl" required>
                    </div>
                    <label class="control-label mark-font">*关联APP的重要内容，请勿擅自修改</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">健康档案调用地址：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="addressObj[1].apiUrl" required>
                    </div>
                    <label class="control-label mark-font">*关联APP的重要内容，请勿擅自修改</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">提取报告调用地址：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="addressObj[2].apiUrl" required>
                    </div>
                    <label class="control-label mark-font">*关联APP的重要内容，请勿擅自修改</label>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">诊间支付/电子处方调用地址：</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="addressObj[3].apiUrl" required>
                    </div>
                    <label class="control-label mark-font">*关联APP的重要内容，请勿擅自修改</label>
                </div>
                <div class="form-group m-b-xxl m-t-xl">
                    <div class="col-lg-offset-3 col-lg-10">
                        <button class="btn btn-sm btn-success formGroup"  ng-disabled="form.$invalid" ng-click="saveData(addressObj)">保存</button>
                        <a class="btn btn-sm btn-default" ui-sref="app.areaAddressSetting">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
