<div class="wrapper-md" ng-controller="AreaAddressSettingCtrl">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            地址配置
            <div class="r">
                <a class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.addAddressSetting">
                    <i class="fa fa-plus"></i>添加
                </a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table m-b-none table table-striped table-bordered table-hover" style="width: 50%">
                <thead>
                    <tr>
                        <th style="width: 40%">地区</th>
                        <th style="width: 40%">地区代码</th>
                        <th style="width: 20%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in pager.data">
                        <td class="v-middle">{{item.areaName}}</td>
                        <td class="v-middle">{{item.areaCode}}</td>
                        <td class="v-middle">
                            <button class="btn m-b-xs btn-sm btn-default" ng-click="editAddressSetting(item.areaCode)"><i class="fa fa-pencil"></i>编辑</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
