@import "../common/public";

.body{
  background:#f6f6f6;
  height: 17.786666666666665rem;
  width: 100%;
}
.top_introduce_box {
    height: 5.066666666666666rem;
    width: 100%;
    margin-bottom: 0.26666666666666666rem;
}

.background {
    background-position: bottom left;
    background-size: 100%;
    padding-top: 1.6266666666666667rem;
}

.introduce_box {
    .icon {
        margin: 0 auto 0.4rem;
        width: 1.4666666666666666rem;
        height: 1.4666666666666666rem;
        display: block;
        border-radius: 50%;
        border: 1PX solid transparent;
        background-repeat: no-repeat;
        background-size: 100%;

        img {
            width: 1.4666666666666666rem;
        }
    }

    .doctorName {
        font-size: 0.4266666666666667rem;
        line-height: 100%;
        color: #fff;
        margin: 0 auto;
        text-align: center;

        .name {
            display: inline_block;
            vertical-align: middle;
        }

        img {
            margin-left: 0.13333333333333333rem;
            height: 0.4266666666666667rem;
        }
    }

    .doctorTitle {
        margin-top: 0.26666666666666666rem;
        line-height: 100%;
        font-size: 0.32rem;
        color: #fff;
        text-align: center;
    }

    .title_left {
        margin-right: 0.26666666666666666rem;
    }
}

.introduce_doc_box {
    .background_avatar_doc {
        filter: blur(0.24rem);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        z-index: -2;
    }

    .background_doc {
        opacity: 0.5;
        position: absolute;
        z-index: -1;
    }
}

.detail {
    padding: 0 0.4rem;
    background: #fff;

    .content {
        padding: 0.4rem 0;
        border-bottom: 1PX solid #f1f1f1;

        &:last-of-type {
            border-bottom: 0;
        }

        .title {
            font-size: 0.4266666666666667rem;
            color: #333;
            font-family: PingFangSC-Regular;
            line-height: 0.4266666666666667rem;
            margin-bottom: 0.26666666666666666rem;
        }

        .article {
            font-size: 0.37333333333333335rem;
            color: #666;
            font-family: PingFangSC-Regular;
            line-height: 0.37333333333333335rem;
        }
    }
}
