body{
  background-color: #f6f6f6;
}
.pack-wrap{
  overflow: hidden;
  margin-top: 10px;
  .pack-item{
    background-color: #fff;
    float: left;
    width: 46%;
    margin: 1.5%;
    padding: 0.25rem;
    overflow: hidden;
    box-shadow: 1px 1px 10px #f1f1f1;

    &:nth-of-type(odd){
      margin-left: 2.5%;
    }
  }

  .pack-img{
    width: 100%;
    margin-bottom: 5px;
  }
  .pack-title{
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
  }
  .pack-desc{
    line-height: 1.4;
    color: #9b9b9b;
  }
}


.view-head{
  padding: 0.3rem;
  background-color: #FFF;
  border-top: 1px solid #ccc;
  
  .view-img{
    width: 40%;
    margin-right: 4%;
  }
  .view-desc{
    width: 55%;

    strong{
      font-weight: normal;
      font-size: 1.3em;
      color: #333;
      line-height: 2;
    }

    p{
      line-height: 1.4;
      color: #9b9b9b;
      margin-top: 0.1rem;
    }
  }
  div{
    float: left;
  }

  img{
    max-width: 100%;
  }
}

.view-people{
  padding: 0.3rem;
  background-color: #FFF;
  margin-top: 0.25rem;

  .people-title{
    font-size: 0.43rem;
    color: #333;
    padding-bottom: 0.2rem;
  }

  .people-desc{
    font-size: 0.37rem;
    color: #666;
  }
}

.view-detail{
  background-color: #FFF;
  margin-top: 0.25rem;

  .detail-control{
    font-size: 0.37rem;
    border-bottom: 1px solid #f1f1f1;

    .active{
      color:#2E7AF0;
    }

    .line{
      width: 2.13rem;
      height: 2px;
      background-color:#2E7AF0;
      position: absolute;
      bottom: 0;
      left: 28%;
      display: none;
      &.active{
        display: block;
      }
    }

    > div{
      float: left;
      width: 50%;
      text-align: center;
      padding: 0.22rem;
      position: relative;
    }
  }
}

.detail-inner{
  > div{
    display: none;
    padding: 0.25rem;
    
    &.active{
      display: block;
    }
  }
}