<!DOCTYPE HTMl>
<html>
<head>
<title>中医治未病</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/measurement/measurement.min.css')%>">
<script type="text/javascript" src="<%=_src('/js/measurement/question.min.js')%>"></script>
</head>
<body class="bc2">
<div class="result_wrap">
    <div class="result_t tc5">根据中医体质辨识测试题，您的体质类型为：</div>
    <div class="answerResult"></div>
    <h6 class="txt"><em>以上结果仅供参考</em></h6>
</div>
<div class="wuxiao">
    <p class="error">
        <span>对不起，</span><br>
        <span>您所提交的部分数据不符合医学常理。</span><br><br>
        <span>为保证结果准确性，请您重新测试！</span>
    </p>
    <a class="btn_normal" id="repeat">重新测试</a>
</div>
</body>
<script>
    $(function(){
        var data=JSON.parse(window.localStorage.getItem('param'));
        if(data && data.length){
            $('.result_wrap').css('display','block');
            $('.wuxiao').css('display','none');
            var html='';
            var physicalArr=[];
            for (var i=0;i<data.length;i++){
                if (data[i].advice) {
                    html += '<h4>' + data[i].physical + '</h4>';
                    html += '<h5><em>健康建议</em></h5>';
                    if (data[i].advice.dailyLife) {
                        html += '<p><strong><em class="icon_qj"></em>起居</strong>' + data[i].advice.dailyLife + '</p>';
                    }
                    if (data[i].advice.diet) {
                        html += '<p><strong><em class="icon_ys"></em>饮食</strong>' + data[i].advice.diet + '</p>';
                    }
                    if (data[i].advice.care) {
                        html += '<p><strong><em class="icon_bj"></em>保健</strong>' + data[i].advice.care + '</p>';
                    }
                    if (data[i].advice.exercise) {
                        html += '<p><strong><em class="icon_dl"></em>锻炼</strong>' + data[i].advice.exercise + '</p>';
                    }
                    if (data[i].advice.emotion) {
                        html += '<p><strong><em  class="icon_qz"></em>情志</strong>' + data[i].advice.emotion + '</p>';
                    }
                }else{
                    physicalArr.push(data[i].physical);
                }
            }
            if(physicalArr && physicalArr.length){
                html += '<h4>';
                for(var j=0;j<physicalArr.length;j++){
                    if(j==physicalArr.length-1){
                        html += physicalArr[j];
                    }else{
                        html += physicalArr[j] + '，';
                    }
                }
                html += '</h4>';
            }
            $('.answerResult').append($(html));
            localStorage.clear();
        }else{
            $('.wuxiao').css('display','block');
            $('.result_wrap').css('display','none');
            localStorage.clear();
        }

        $('#repeat').on('touchstart',function(){
            history.back()
        })
    })
</script>
</html>
