<div class="wrapper" ng-controller="addAccountController">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            <a ui-sref="app.rbac.userManage"><i class="fa fa-mail-reply"></i></a>
            {{title}}
        </div>
        <div class="panel-body">
            <form class="form-horizontal form-validation m-t-md m-b-md" name="adStartForm" ng-submit="submitAccount(accountObj)" novalidate>
                <div class="form-group">
                    <label class="col-lg-2 control-label">姓名：</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="accountObj.username" ng-disabled="isShow==false" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">登录名：</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="accountObj.loginname" ng-disabled="isShow==false" ng-blur="checkName(accountObj.loginname)" required>
                    </div>
                </div>
                <div class="form-group" ng-show="isShow">
                    <label class="col-lg-2 control-label">密码：</label>
                    <div class="col-lg-6">
                        <input type="password" class="form-control" ng-show="isShow" ng-model="accountObj.password" ng-blur="checkPassword(accountObj.password)" placeholder="密码长度应为6-18位，由数字和大小写字母组合而成" ng-required="isShow">
                    </div>
                </div>
                <div class="form-group" ng-if="isShow">
                    <label class="col-lg-2 control-label">确认密码：</label>
                    <div class="col-lg-6">
                        <input type="password" class="form-control" ng-show="isShow" ng-model="accountObj.password2" ng-required="isShow">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">角色：</label>
                    <div class="col-lg-6">
                        <select class="form-control" ng-model="accountObj.roleIds"  ng-options="o.roleId as o.name for o in roleList" required>
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <button type="submit" class="btn btn-success" ng-disabled="adStartForm.$invalid">保存</button>
                        <a class="btn btn-default" ui-sref="app.rbac.userManage">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
