<?xml version="1.0" encoding="UTF-8" ?>
<included>
    <!-- from application.properties -->
    <springProperty scope="context" name="isEnable" source="logging.remote.kafka.isEnable" defaultValue="false"/>
    <springProperty scope="context" name="topic" source="logging.remote.kafka.topic" defaultValue=""/>
    <springProperty scope="context" name="brokerHostList" source="logging.remote.kafka.brokerHostList" defaultValue=""/>
    <springProperty scope="context" name="fileChannelPath" source="logging.remote.kafka.fileChannelPath" defaultValue=""/>
    <springProperty scope="context" name="filterDevices" source="logging.remote.filter.devices" defaultValue="359786058838880,352204061532711"/>

    <appender name="kafkaAppender" class="com.wondersgroup.bi.logserver.agent.support.logback.KafkaAppender">
        <formatter class="com.wondersgroup.bi.logserver.agent.support.logback.formatter.JsonFormatter"/>
        <enable>${isEnable}</enable>
        <topic>${topic}</topic>
        <brokerHostList>${brokerHostList}</brokerHostList>
        <fileChannelPath>${fileChannelPath}</fileChannelPath>
        <!--<zookeeperHost>localhost:2181</zookeeperHost>-->
        <filterDevices>${filterDevices}</filterDevices>
    </appender>

    <logger name="gatelog" level="INFO" additivity="false">
        <springProfile name="de">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="kafkaAppender"/>
    </logger>

    <logger name="com.wondersgroup.bi.logserver.agent" level="INFO" additivity="false">
        <springProfile name="de,te">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="FILE"/>
    </logger>


</included>