<!DOCTYPE HTMl>
<html>
<head>
    <title>报告详情</title>
    <% include ../commontags/metatags %>
        <link rel="stylesheet" href="<%=_src('/css/familyDoctor/doctorDetail.min.css')%>">
</head>
<body class="body" >
    <% include doctorDetail_top.ejs %>

    <!-- 医生端 -->
    <% include doctorDetail_top_doc.ejs %>

    <div class="detail">
        <div class="content">
            <p class="title">机构名称</p>
            <p class="article">高朋大道社区服务中心 多排就这样展示 没内容显示 无</p>
        </div>
        <div class="content">
            <p class="title">地址</p>
            <p class="article">成都市武侯区高朋大道11号 多排就这样展示 没内容显示 无</p>
        </div>
        <div class="content">
            <p class="title">擅长</p>
            <p class="article">擅长手足先天畸形的矫正、儿童手外科、周围神经电生理检查与诊断。擅长手足先天畸形的矫正、儿童手外科、周围神经电生理检查与诊断。擅长手足先天畸形的矫正、儿童手外科、周围神经电生理检查与诊断</p>
        </div>
    </div>
</body>
</html>
