<div class="top_introduce_box introduce_doc_box">
    <div class="top_introduce_box background_avatar_doc" style="background-image: url(<%=_src('/images/familyDoctor/morenteamicon@2x.png')%>)"></div>
    <div class="top_introduce_box background_doc background" style="background-image: url(<%=_src('/images/familyDoctor/background.png')%>)"></div>
    <div class="introduce_box background">
        <image src="<%=_src('/images/familyDoctor/morenteamicon@2x.png')%>" class="icon" />
        <p class="doctorName">
            <span class="name">高敏</span>
            <image src="<%=_src('/images/familyDoctor/leader@2x.png')%>">
        </p>
        <p class="doctorTitle">
            <span class="title_left">全科</span>
            <span>副主任医师</span>
        </p>
    </div>
</div>  
