<div class="top_introduce_box introduce_box background" style="background-image: url(<%=_src('/images/familyDoctor/background.png')%>)">
    <image src="<%=_src('/images/familyDoctor/morenteamicon@2x.png')%>" class="icon" />
    <p class="doctorName">
        <span class="name">高敏</span>
        <image src="<%=_src('/images/familyDoctor/leader@2x.png')%>">
    </p>
    <p class="doctorTitle">
        <span class="title_left">全科</span>
        <span>副主任医师</span>
    </p>
</div>
