<!DOCTYPE HTMl>
<html>
<head>
<title>服务包</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/familyDoctor/servicePackList.min.css')%>">
</head>
<body>
  <div class="pack-wrap">
    <div class="pack-item">
      <img class="pack-img" src="http://szimg.mukewang.com/58fea8780001f29c05400300-500-284.jpg" />
      <strong class="pack-title">换药拆线</strong>
      <p class="pack-desc">换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线</p>
    </div>

    <div class="pack-item">
      <img class="pack-img" src="http://szimg.mukewang.com/58fea8780001f29c05400300-500-284.jpg" />
      <strong class="pack-title">换药拆线</strong>
      <p class="pack-desc">换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线</p>
    </div>

    <div class="pack-item">
      <img class="pack-img" src="http://szimg.mukewang.com/58fea8780001f29c05400300-500-284.jpg" />
      <strong class="pack-title">换药拆线</strong>
      <p class="pack-desc">换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线</p>
    </div>

    <div class="pack-item">
      <img class="pack-img" src="http://szimg.mukewang.com/58fea8780001f29c05400300-500-284.jpg" />
      <strong class="pack-title">换药拆线</strong>
      <p class="pack-desc">换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线换药拆线</p>
    </div>
  </div>
</body>
</html>
