<!DOCTYPE HTMl>
<html>
<head>
<title>服务包详情</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/familyDoctor/servicePackList.min.css')%>">
</head>
<body>
  <div class="view-head clearfix">
    <div class="view-img">
      <img src="http://szimg.mukewang.com/58fea8780001f29c05400300-500-284.jpg" alt="">
    </div>
    <div class="view-desc">
      <strong>换药拆线</strong>
      <p>水电费拉克丝打飞机当上了飞机的时间里圣诞节福利圣诞节福利电视剧</p>
    </div>
  </div>

  <div class="view-people">
    <div class="people-title">适用人群</div>
    <div class="people-desc">
      <p>-普通普通普通普通普通普通普通普通普通普通普通</p>
      <p>-普通普通普通普通普通普通普通普通普通普通普通</p>
      <p>-普通普通普通普通普通普通普通普通普通普通普通</p>
    </div>
  </div>

  <div class="view-detail">
    <div class="detail-control clearfix">
      <div class="btn active">
        <span>服务内容</span>
        <div class="line active"></div>
      </div>
      <div class="btn">
        <span>服务说明</span>
        <div class="line"></div>
      </div>
    </div>

    <div class="detail-inner clearfix">
      <div class="active">1专业医务人员为您进行外伤换药、术后伤口换药、术后伤口拆线的服务；</div>
      <div>2专业医务人员为您进行外伤换药、术后伤口换药、术后伤口拆线的服务；</div>
    </div>
  </div>

  <script>
    $('.btn').on('touchend, click', function(){
      var index = $(this).index();

      
      $(this).addClass('active').siblings().removeClass('active');

      $(this).find('.line').addClass('active');
      $(this).siblings().find('.line').removeClass('active');

      $('.detail-inner > div').eq(index).addClass('active').siblings().removeClass('active');
    })
  </script>
</body>

</html>
