<div class="wrapper-md" ng-controller="HealthBannerAddCtrl">
    <form name="form" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="app.hs.bannerSetting"><i class="fa fa-mail-reply"></i></a>
                <strong>{{title}}</strong>
            </div>
            <input type="hidden" ng-model="bannerObj.id">
            <div class="panel-body">
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">图片:</label>
                    <div class="col-sm-6">
                        <div class="upload-box" upw="500" uph="200" get-url="setPicurl(url)" on-close="onClose()" url="bannerObj.imgUrl" fileread/>
                    </div>
                </div>
                <div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="标题不能为空,不超过50个字" ng-model="bannerObj.mainTitle" maxlength="50" required>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">广告跳转地址:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="bannerObj.hoplink" placeholder="请输入合法的链接地址">
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">展示时间段：</label>
                        <div class="col-sm-6">
                            <div style="display:inline-block;vertical-align: middle;">
                                <div class="input-group w" ng-controller="DatepickerDemoCtrl">
                                    <input type="text" ng-model="bannerObj.startTime" class="form-control" datepicker-popup="yyyy-MM-dd HH:mm:ss"
                                           is-open="opened" datepicker-options="dateOptions"
                                           required  placeholder="必填" close-text="Close" />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                </div>
                            </div>&nbsp;&nbsp;-&nbsp;&nbsp;
                            <div style="display:inline-block;vertical-align: middle;">
                                <div class="input-group w" ng-controller="DatepickerDemoCtrl">
                                    <input type="text" ng-model="bannerObj.endTime" class="form-control" datepicker-popup="yyyy-MM-dd HH:mm:ss"
                                           is-open="opened" datepicker-options="dateOptions"
                                           required placeholder="必填" close-text="Close" />
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序:</label>
                        <div class="col-sm-6">
                            <input type="number" ng-model="bannerObj.sequence" class="form-control" required placeholder="必填" min="0" max="999">
                        </div>
                        <label class="control-label text-danger">请输入0～999的正整数</label>
                    </div>
                </div>
                <footer class="panel-footer text-right bg-light lter">
                    <button type="submit" ng-click="submitBanner(bannerObj)" ng-disabled='form.$invalid' class="btn btn-success">提 交</button>
                    <a class="btn btn-default" ui-sref="app.hs.bannerSetting">返回</a>
                </footer>
            </div>
        </div>
    </form>
</div>
