@import "../common/public";
@mixin font-dpr-important($font-size) {
  font-size: $font-size !important;
  [data-dpr="2"] & {
    font-size: $font-size * 2 !important;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3 !important;
  }
}
em{font-style: normal;}
.wrap {
  background-color: #fafafa;
  @include font-dpr-important(16px);
  word-break: break-all;
  color: #333;
  text-align: justify;
  padding-top: .4rem;
}

.accordion{
  border-top:1px solid $border-color;
  -webkit-transition: all .2s ease 0;
  -moz-transition: all .2s ease 0;
  -o-transition: all .2s ease 0;
  transition: all .2s ease 0;
}

.accordion li {
  border-bottom: 1px solid #ddd;
  -webkit-transition: all .2s ease 0;
  -moz-transition: all .2s ease 0;
  -o-transition: all .2s ease 0;
  transition: all .2s ease 0;
}

.question {
  position: relative;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 .4rem;
  background-color: #fff;
  -webkit-transition: all .2s ease 0;
  -moz-transition: all .2s ease 0;
  -o-transition: all .2s ease 0;
  transition: all .2s ease 0;
}

.question i {
  position: absolute;
  right: $apx * 1.25;
  top: 28%;
  -webkit-transition: all .2s ease 0;
  -moz-transition: all .2s ease 0;
  -o-transition: all .2s ease 0;
  transition: all .2s ease 0;
}

.accordion li.open i.fa-angle-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.answer {
  padding: .4rem;
  @include font-dpr-important(16px);
  line-height: 1.5;
  color: #666;
  background-color: #f5f5f5;
}

.answer p{
  @include font-dpr-important(16px);
}

.answer span {
  @include font-dpr-important(16px);
}

.answer img {
  width: 100%;
  padding: $apx * 1.25 $apx * 2.5;
}
.btm{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #FEFEFD;
  text-align: center;
  padding: 0.2rem 0;
  @include font-dpr-important(16px);
  border-top: 1px solid #ddd;
  .tel{
    color: #2E7AF0;
    em{
      display: inline-block;
      width:0.64rem;
      height: 0.64rem;
      background: url(../../images/helpCenter/tel.png) no-repeat;
      background-size: contain;
      vertical-align: middle;
      margin-right:0.266667rem;
    }
  }
}
