<tr>
    <td colspan="20" class="text-center footable-visible">
        <ul class="pagination paging-tools">
            <li class="footable-page-arrow {{pagingPager.number == 1 ? 'disabled':''}}"><a name="mostf">«</a></li>
            <li class="footable-page-arrow {{pagingPager.number == 1 ? 'disabled':''}}"><a name="first">‹</a></li>
            <li class="footable-page {{n.active ? 'active':''}}"
                ng-repeat="n in pagingList">
                <a ng-click="goPage({number:{{n.num}}})" name="single" num="{{n.num}}">
                    {{n.num}}
                </a>
            </li>
            <li class="footable-page-arrow {{(pagingPager.number) == pagingPager.totalPages ? 'disabled':''}}"><a name="last">›</a></li>
            <li class="footable-page-arrow {{(pagingPager.number) == pagingPager.totalPages ? 'disabled':''}}"><a name="mostl">»</a></li>
        </ul>
        <ul class="pagination paging-tools">
            <li class="page-num">查询出 {{pagingPager.totalElements}} 条记录</li>
            <li class="page-num">共 {{pagingPager.totalPages}} 页</li>
        </ul>
    </td>
</tr>
