<!DOCTYPE HTMl>
<html>
<head>
    <title>404</title>
    <% include ./commontags/metatags %>
</head>
<body>
<div class="wrap">
    <h1></h1>
    <div class="banner">404</div>
    <div class="msg">Page Not Found</div>
</div>
</body>
</html>

