<!DOCTYPE HTMl>
<html>
<head>
<title>用户注册协议</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/ruler/ruler.min.css')%>">
</head>

<body>
  <div class="wrap">
    <h1>“微健康”用户服务协议</h1>
    <p>感谢您使用微健康APP（以下简称“微健康”）。微健康的网络运营服务是由四川万达健康数据有限公司（以下简称“万达健康”）依据本协议的规定为微健康的个人户（以下简称“用户”或“您”）提供服务。</p>
    <h4>一、总则</h4>
    <ul>
      <li>本协议是您与微健康的所有者万达健康之间就微健康客户端服务等相关事宜所订立的契约，请您仔细阅读本注册协议，在您点击“注册”按钮后，本协议在用户和万达健康间具有合同上的法律效力。</li>
      <li>本客户端的各项电子服务的所有权和运营权归万达健康所有。用户同意所有注册协议条款并完成注册，才能成为微健康的正式用户。您对微健康的登录查看、挂号、搜索、发布信息等行为即视为您已阅读并同意本协议的约束，包括接受更新后的本协议条款。本协议始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</li>
      <li>用户同意本协议的，即视为用户确认自己享受微健康全部服务相应的权利能力和行为能力，能够独立承担法律责任。如果用户在18周岁以下，您只能在父母或监护人的监护参与下才能使用微健康。</li>
      <li>万达健康保留在中华人民共和国大陆地区法律允许范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</li>
      <li>本协议与《免责条款》具备同等的法律效力。</li>
    </ul>
    <h4>二、微健康服务声明</h4>
    <ul>
      <li>微健康运用万达健康研发的系统，通过互联网等方式依法为您提供与医疗相关的咨询、资讯、商品、服务等网络服务。用户在完全同意本协议及微健康规定的情况下，方有权使用微健康的相关服务。</li>
      <li>用户必须自行准备如下设备和承担如下开支：
        <ol>
          <li>上网设备，包括并不限于电脑或者其他上网终端、调制解调器及其他必备的上网装置；</li>
          <li>上网开支，包括并不限于网络接入费、上网设备租用费、手机流量费等。</li>
        </ol>
      <li>万达健康对于您的通知及其他任何协议、公告或其他关于用户使用平台账号及服务的通知，您同意万达健康可通过微健康公告、电子邮件、手机短信、无线通讯装置等电子方式或常规的信件传递方式进行，该等通知于发送之日视为已送达收件人，因信息传输等原因导致您未在前述通知发出当日收到该等通知的，万达健康不承担责任。</li>
      <li>万达健康保留随时修改或中断服务而无需通知的权利。万达健康有权行使修改或中断服务的权利，无需对您或任何无直接关系的第三方负责。</li>
      <li>万达健康可以依其对判断暂时提供、显示或改变微健康的服务，只要您仍然使用微健康服务，即表示您仍然同意本服务协议。</li>
    </ul>
    <h4>三、用户信息</h4>
    <ul>
      <li>用户应自行诚信向本客户端提供注册资料，用户同意其提供的注册资料真实准确、完整、合法有效，用户注册资料如有变动的，应及时更新其注册资料，如果用户提供的注册资料不合法、不真实、不准确、不详尽的，用户需承担因此引起的相应责任及后果，并且万达健康保留终止用户使用微健康各项服务的权利。</li>
      <li>用户在微健康进行购买活动时，涉及用户真实姓名/名称、通信地址、联系电话、电子邮箱等隐私信息的，微健康将予以严格保密，除非得到用户的授权或法律另有规定，微健康不会向外界披露用户隐私信息。</li>
      <li>用户注册成功后，将产生用户名和密码等账户信息，您可以根据微健康规定更改您的密码。用户应谨慎合理保存、使用其用户名和密码。用户若发现任何非法使用用户账号或存在安全漏洞的情况，请立即通知微健康并向公安机关报案。</li>
      <li>用户不得将在微健康注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</li>
      <li>用户应充分了解并同意，微健康仅是作为为您分享、传播及获取信息的平台。您必须为自己注册账号下的一切行为负责，包括您所发表的任何内容以及由此产生的任何后果。您应对微健康中发布的信息自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。万达健康无法且不会对因前述风险而导致的任何损失承担责任。</li>
      <li>您理解并同意，万达健康一直致力于为用户提供文明健康、规范有序的网络环境，您被禁止利用本平台制作、复制、发布、传播如下干扰微健康正常运营，以及侵犯其他用户或第三方合法权益的内容：
        <ol>
          <li>禁止发布、传送、传播、储存违反国家法律法规的内容，包括但不限于：<br>
              违法国家宪法制定的基本原则<br>
              危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一<br>
              损害国家荣誉和利益<br>
              煽动民族仇恨、民族歧视、破坏民族团结<br>
              破坏国家宗教政策，宣扬邪教和封建迷信<br>
              散布谣言，扰乱社会秩序，破坏社会稳定<br>
              散步淫秽、色情、赌博、暴力、恐怖或者教唆犯罪<br>
              侮辱或者诽谤他人，侵害他人合法权益<br>
              煽动非法集会、结社、游行、示威、聚众扰乱社会秩序<br>
              以非法民间组织名义活动<br>
              含有国家或者当地政府法律、行政法规禁止的其他内容<br>
          </li>
          <li>禁止发布、传输、传播、储存侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的内容 </li>
          <li>禁止涉及他人隐私、个人信息或资料</li>
          <li>禁止发布、传输、传播骚扰信息、广告信息及垃圾信息或含有任何性暗示的文字或图片</li>
          <li>禁止发表、传输任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料</li>
          <li>其他违法法律法规、政策及公序良俗、社会公德或干扰微健康正常运营和侵犯其他用户或第三方合法权益内容的信息。</li>
        </ol>
      </li>
      <li>除本协议或另有约定外，您理解并保证不利用在微健康注册的账号进行经营活动、牟利行为及其他未经微健康许可的行为，包括但不仅限于以下行为：
          <ol>
            <li>您账号内的任何微健康优惠信息由万达健康享有解释权和修改权，您仅享有在微健康购物时的使用权，严禁转卖微健康账号、积分或其他类型的优惠券、礼品卡或利用其他类型的优惠券、礼品卡、或利用微健康账号进行其他经营性行为等；</li>
            <li>恶意利用技术手段或其他方式，为获取优惠、折扣或其他利益而注册多个账号、下单等行为，影响其他用户正常消费或相关合法权益、影响微健康正常销售秩序的行为</li>
            <li>以再销售或商业使用为目的的，对微健康产品或服务进行的购买行为（与万达健康另有合同约定的除外）</li>
            <li>任何对商品目录、说明、价格、数量、其他用户信息或其他内容的下载、转载、收集、衍生利用、复制、出售、转售或其他形式的使用，无论是否通过Robots、Spiders、自动仪器或手工操作</li>
            <li>其他影响微健康对用户账号正常管理秩序的行为</li>
          </ol>
      </li>
    </ul>
    <h4>四、用户账户管理及安全</h4>
    <ul>
      <li>当您遵照并同意本协议内容，成功申请注册后，微健康会为您开通一个个人账号，作为您使用微健康服务的唯一身份标识。该账号的所有权属于万达健康，您仅拥有使用权，账号使用权禁止赠与、借用、租用、转让或售卖。您在注册账号时，必须依据万达健康所制定的要求，填写您的有效身份证号并上传身份验证资料进行用户实名制身份验证。万达健康将根据您所提供的资料进行身份审核，审核通过后将为您开通账号。</li>
      <li>登录账号时，您必须使用已通过实名制身份验证的微健康账号进行登录。在登录时您必须输入您设定并保管的账号密码。请您对密码加以妥善保管。因您密码保管不善而遭受的所有损失由您自行承担。</li>
      <li>您对通过您的账号所进行的活动、行为、言论和事件依法享有权利和承担责任。且不得以任何形式转让、授权除您以外的第二人使用您姓名和证件号进行实名制注册的账号以及与他人交易账号。</li>
      <li>鉴于互联网服务的特殊性，万达健康无义务审核是否是您本人使用该组用户名及密码，仅审核用户名及密码与数据库中保存的信息一致，任何人只要输入的用户名和密码与数据库中保存的一致，即可凭借该组用户名及密码登录并获得微健康所提供的各类服务，所以即使您认为您的账号登录行为并非您本人所为，万达健康将不承担因此而产生的任何责任。</li>
      <li>如您违反相关法律法规、本协议以及专项规则的规定，万达健康有权进行独立判断并随时限制、冻结或终止您对微健康账号的使用，并根据您申诉提交材料的实际情况决定是否为您恢复使用。对此给您带来的损失（包括但不限于通信终端、用户资料及相关数据清空等），由您自行承担。</li>
      <li>您理解并同意，在您未进行举报或提出账号申诉等方式明确告知微健康账号被他人使用或信息数据泄露等情况并提供相关证明材料前，万达健康有理由相信该账号行为是您使用账号的行为。</li>
      <li>您不得通过任何手段恶意注册微健康账号，包括但不限于以牟利、炒作、套现等为目的的多个账号注册。</li>
      <li>为了充分利用资源，如果您的账号在连续720天内未登录使用的情形，万达健康有权清理该账号，停止账号的使用权。</li>
    </ul>
    <h4>五、用户信息的收集和管理</h4>
    <ul>
      <li>您承诺以您的真实身份信息注册微健康，并确认为此所预留的个人信息为真实、准确、完整、合法、有效，万达健康可以通过您预留的个人信息联系到您本人。请务必在您的个人信息发生变更前及时自行登录微健康同步更新，并依照法律规定和本协议约定您对您预留的信息承担相应的法律责任。万达健康有权审查您在注册所预留个人信息是否真实、有效。若这些信息与您当前实际情况不符或有误导之嫌，致使万达健康无法为您提供服务或进一步的联系到您本人，万达健康将不会因此承担任何责任，由此引起的相应责任及后果将由您自行承担，并且万达健康保留回收您对应账号的使用权或并就此注销，终止使用微健康各项服务的权利。</li>
      <li>您在使用微健康各项服务时，如有涉及您真实姓名、名称、通讯方式、联系地址、健康指数等私人信息的，万达健康将给予严格保密，除非得到您的授权或法律另有规定，万达健康将不会向外界披露，但以下情况除外：
        <ol class="dot">
          <li>提供独立服务且仅需要与其服务相关信息的单位，如社区医院等；</li>
          <li>与万达健康存在关联的实体企业</li>
          <li>经您或您授权同意的第三方单位</li>
        </ol>
      </li>
      <li>万达健康依照您在微健康上的行为操作，由系统自动统计、计算关于您某些行为的信息，在保证不想外界透露您的私人信息的前提下，万达健康有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
      </li>
    </ul>
    <h4>六、知识产权保护</h4>
    <ul>
      <li>当您接收本协议前，请阅读万达健康《版权声明》。该协议适用于您使用微健康提供的任何服务。</li>
      <li>您在微健康上发表的文章及图片（包括转贴的文章及图片）版权仅归属原作者所有，若作者有版权声明或原作从其他网站转载而附带有原版权声明者，其版权归属以附带声明为准。</li>
      <li>当您转载、引用任何发表于微健康上的版权文章须符合以下规范：
        <ol class="dot">
          <li>用于非商业、非盈利、非广告性目的时须注明作者及文章及图片的出处，并说明用于“非商业、非盈利、非广告性”</li>
          <li>用于商业、盈利、广告性目的时需征得文章或图片原作者的同意，并与作者或版权所有人协商费用问题达成一致意见，注明作者姓名、授权范围及原作出处</li>
          <li>任何文章或图片的修改或删除均应保持作者愿意并征求原作者同意，与作者或版权所有人协商费用问题打成一致意见，注明授权范围</li>
        </ol>
      </li>
      <li>您在微健康发表的文章仅代表您个人的观点，与万达健康立场无关。为此所产生的一切后果由您自负。</li>
      <li>据《中华人民共和国侵权责任法》第三十六条，如任何单位或个人提出，您利用微健康侵害其本人的民事权益或实施侵权行为的，包括但不限于侮辱、诽谤等，被侵权人有权书面通知万达健康采取删除、屏蔽、断开链接等措施。</li>
      <li>据《信息网络传播权保护条例》，任何单位或个人提出，微健康所涉及的文档、影音等作品，侵犯了其本人的信息网络传播权或者被删除、改变了其本人权利所管理电子信息的，可以向万达健康提交书面通知，要求微健康删除该侵权作品，或者断开链接。</li>
      <li>如任何单位或个人提出微健康用户发布的任何信息侵犯其合法权益的，包括但不限于以上两点，在有充分法律法规及证据足以证明的情况下，均可以通过下列联系方式通知万达健康：
        <ol class="dot">
          <li>通讯邮箱： <br><span class="tc3">haochun@wondersgroup.com</span></li>
          <li>客服电话： <br><span class="tc3">400-900-9957</span></li>
        </ol>
      </li>
    </ul>
    <h4>七、拒绝担保与免责</h4>
    <ul>
      <li>万达健康是“互联网服务”的第三方平台，不确保平台的信息及服务能充分满足您的需求。对于您在接受万达健康的服务过程中可能遇到的错误、侮辱、诽谤、不作为、淫秽、色情或亵渎事件，万达健康不承担法律责任。</li>
      <li>由于互联网传输存在其特殊性，万达健康不担保不会受中断，对服务的即时性、安全性都做担保，不承担非因万达健康导致的责任。</li>
      <li>万达健康致力于使您能安全访问和试用微健康平台，但万达健康不声明也不保证微健康平台或其服务器是不含病毒或其他潜在有害因素的；因此您应使用业界公认的软件查杀任何自微健康平台所下载的文件中的病毒</li>
      <li>万达健康有权删除微健康上各类不符合法律或协议规定的评论或讯息，而保留不通知您的权利。</li>
      <li>所有发给您的通告，万达健康都将通过正式的页面公告、站内信、电子邮件、客服电话、手机短信或常规的信件送达。任何未经万达健康正规渠道获得的中奖、优惠等活动或信息，万达健康不承担法律责任。</li>
      <li>微健康拒绝回复医疗健康以外的咨询问题，包括但不限于：
        <ol class="dot">
          <li>非医疗健康类问题，如动物疾病问题、社会意识形态问题等</li>
          <li>医疗司法举证或询证问题</li>
          <li>胎儿性别鉴定问题</li>
          <li>未按提问要求提问，如提问时未指定人员，却要求具体人员回复等情况</li>
          <li>有可能危害他人或自身的问题</li>
          <li>追问他人个人信息的问题</li>
          <li>故意挑逗、侮辱他人的问题</li>
        </ol>
      </li>
      <li>微健康致力于提供正确、完整的健康咨询，但不保证信息的正确性和完整性，且不对因信息的不正确或遗漏导致的任何损失或损害承担责任。微健康所提供的任何医疗信息，症状自查等服务仅供参考，不能替代医生和其他医务人员的建议，如您自行使用客户端中资料发生偏差，微健康概不负责，亦不负任何法律责任。
      </li>
    </ul>
    <h4>八、法律责任</h4>
    <ul>
      <li>本协议是由您与万达健康共同签订的，适用于您在万达健康的全部行为或活动。协议内容包括但不限于：本协议正文及已经发布的或将来可能发布的各类规则，所有条款和规则均是本协议不可分割的部分，与本协议正文具有相同的法律效力。</li>
      <li>如本协议中的任何条款如被视为无效或不具有执行力，则应认为该条款可与本协议相分割。在此情况下，不影响本协议的其他条款有效性和法律效应。</li>
      <li>本协议是万达健康与已注册成为微健康用户之间重要的法律文件，任何其他书面或者口头意思所表示含义与本协议不一致的，均应当以本协议为准。</li>
      <li>万达健康对本服务协议拥有最终的解释权。</li>
      <li>本协议的订立、执行和解释及争议的解决均应使用中华人民共和国的法律。如就本协议内容或执行发生任何争议，双方应首先通过友好协商方式解决；协商不成的，任何一方应向万达健康所在地的人民法院提起诉讼。</li>
      <li>本协议中的各类标题仅为方便阅读而设，本身不具有任何含义，不作为解释本协议的依据。</li>
    </ul>
    <p class="footer"><b>四川万达健康数据有限公司</b></p>
    <p class="footer"><b>2016年11月更新</b></p>
  </div>
</body>

</html>
