<!DOCTYPE HTMl>
<html>
<head>
<title>预约规则</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/ruler/ruler.min.css')%>">
</head>

<body>
  <div class="wrap">
    <h1>“微健康”预约规则</h1>
    <ul>
      <li><strong>预约说明</strong>
        <p>预约挂号是医院为不同就诊人群提供的一项便民措施。您可以在“微健康APP”（以下简称“微健康”）上直接注册，成为微健康的注册会员后，即可进行预约挂号。目前医院可预约的专家号或普通号，以医院的服务电话查询或医院公示为准。</p>
      </li>
      <li><strong>实名制预约</strong>
        <p>采用"实名制"，患者须提供真实姓名、身份证号和手机号等信息。用户与预约当日就诊时，出示的证件号必须与预约时提供的一致，否则医院不予提供诊疗服务。</p>
      </li>
      <li><strong>预约时段</strong>
        <p>您可以选择自已就诊的时段，按时就诊时一般可以享有优先就诊的便利，具体规定由各医院制定。</p>
      </li>
      <li><strong>预约挂号费用</strong>
        <p>作为医院的一项便民措施，预约挂号暂时不收取预约费用，具体费用由医院自行制定。本预约挂号平台不收取任何费用。</p>
      </li>
      <li><strong>停、替诊安排</strong>
        <p>若当日已出诊专家临时因开会、调岗或出差等特殊原因停诊，医院将负责安排同等级别专家出诊(本次服务不再收取任何费用)。医生停诊情况不可避免，给患者造成的不便敬请谅解。</p>
      </li>
      <li><strong>预约限制</strong>
        <p>原则上用户一天在同一医院的同一个科室只限预约1次，每次限约1个号，具体以医院规则为准。用户每天在微健康平台上共可预约3次。</p>
      </li>
      <li><strong>取消预约</strong>
        <p>登录微健康，可查询预约情况，如不能按预约时间前来就诊，请务必在就诊当日提前二十四小时取消预约，如果未履约月累计3次，将被列入"黑名单"，限制使用预约挂号服务。<br>
        预约用户已通过第三方支付方式支付挂号费的，如需取消预约，挂号费将返还到用户原支付账户，到账周期为用户取消预约后15个工作日内，本预约挂号平台不收取任何费用。</p>
      </li>
    </ul>
  </div>
</body>

</html>
