<!DOCTYPE HTMl>
<html>
<head>
<title>实名认证规则</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/ruler/ruler.min.css')%>">
</head>

<body>
  <div class="wrap">
    <h1>实名认证规则</h1>
    <p>为更好的为您服务，您可通过实名认证的方式获取更多微健康的服务。</p>
    <p>通过以下方式进行实名认证：真实填写你的个人信息，包括姓名、身份证号、性别、年龄，并上传手持身份证照片。我们将在一个工作日内为您进行身份核实，并以短信通知您审核结果。</p>
    <p>上传身份证时，请您注意以下要求来准备证件，这样可以帮助你更快通过审核，避免因审核失败而影响您的正常操作：</p>
    <ul>
      <li>请准备本人身份证（含信息页和国徽页）</li>
      <li>证件拍摄完整，不出现缺角</li>
      <li>各项信息及头像清晰可见，容易识别</li>
      <li>证件必须真实拍摄原件，不能使用复印件</li>
      <li>图片中无反光、遮挡、水印等情况</li>
    </ul>
  </div>
</body>

</html>
