<!DOCTYPE HTMl>
<html>
<head>
<title>版权声明</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/ruler/ruler.min.css')%>">
</head>

<body>
  <div class="wrap">
    <h1>版权声明</h1>
    <ul>
      <li>注明“来源：健康双流-为健康”或“四川万达健康数据有限公司”的文字、图片和音视频作品，知识产权属于四川万达健康数据有限公司（以下简称“万达健康”），作者享有署名权，任何媒体、网站或个人如需转载、链接、转贴或以其他方式非商业使用时必须注明“来源：健康双流-为健康，作者名称”；如未经万达健康明确授权，严禁任何媒体、网站或个人用于商业用途。</li>
      <li>未经万达健康书面许可，任何单位及个人不得以任何方式或理由对健康双流产品、服务、信息、材料的任何部分进行使用、复制、修改、抄录、传播或与其它产品捆绑使用、销售。</li>
      <li>健康双流转载其他媒体内容是为传播更多信息，此类内容不代表健康双流观点，健康双流不承担此类内容侵权行为的连带责任。如其他媒体、网站或个人转载使用，必须保留本网注明的“内容来源”，并自负法律责任。</li>
      <li>如果您认为健康双流刊载作品涉及版权等问题侵犯了您或您公司的合法权益，作为权利人应事先向万达健康数据发出书面的“权利通知”，万达健康数据将根据中国法律法规和政府规范性文件采取措施移除相关内容或断开相关链接。</li>
    </ul>
  </div>
</body>

</html>
