<!DOCTYPE HTMl>
<html>
<head>
<title>免责声明</title>
<% include ../commontags/metatags %>
<link rel="stylesheet" href="<%=_src('/css/ruler/ruler.min.css')%>">
</head>

<body>
  <div class="wrap">
    <h1>免责声明</h1>
    <ul>
      <li>用户在下载并浏览健康双流时均被视为已经仔细阅读本条款并完全同意。凡以任何方式登录健康双流，或直接、间接使用健康双流资料者，均被视为自愿接受本网站相关声明和用户服务协议的约束。</li>
      <li>健康双流转载的文字、图片、音视频等资料的真实性、准确性和合法性，由信息发布人负责。不代表健康双流之意见及观点，健康双流不提供任何保证，并不承担任何法律责任。</li>
      <li>任何单位或个人认为健康双流转载的文字、图片、音视频等资料，涉嫌侵犯其合法权益，应及时向健康双流或服务网站书面反馈并提供身份证明、权属证明及详细侵权情况说明，健康双流在收到上述文件后，将会尽快移除被控侵权内容。</li>
      <li>健康双流不保证为用户提供便利而设置的外部链接的准确性和完整性。同时，对于该外部链接指向的不由健康双流实际控制的任何网页上的内容，健康双流不承担任何责任。</li>
      <li>用户在健康双流所发布的链接、文字评论、得到之资讯及转载的文字、图片、音视频等资料均系用户个人行为，并不反映任何健康双流之意见，健康双流不承担任何法律责任。</li>
      <li>健康双流所有广告所涉及的链接及得到的资讯、产品及服务均系均为广告商所提供的内容，并不反映任何健康双流之意见，健康双流不对此承担任何法律责任。</li>
      <li>健康双流尊重并保护所有健康双流用户的个人隐私权，用户注册的用户名、电子邮件地址等个人资料，非经用户亲自许可或根据相关法律的强制性规定，健康双流不会主动地提供给第三方。</li>
      <li>用户明确同意其使用健康双流服务所存在的风险将完全由其本人承担；因其使用健康双流而产生的一切后果也由其本人承担，健康双流对此不承担任何责任。</li>
      <li>对于因不可抗力或因黑客攻击、通讯线路中断等健康双流不能控制的原因造成的网络服务中断或其他缺陷，导致用户不能正常使用健康双流，健康双流不承担任何责任，但将尽力减少因此给用户造成的损失或影响。</li>
      <li>本声明未涉及的问题请参见国家有关法律法规，当本声明与国家有关法律法规冲突时，以国家法律法规为准。<br><br>健康双流相关声明版权及修改权、更新权和最终解释权均属健康双流所有。</li>
    </ul>
  </div>
</body>

</html>
