<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您精神头足，乐于做事吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您体力如何，是否稍微活动一下或做一点家务劳动就感到累吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您容易气短，呼吸短促，上气不接下气吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您说话没有力气吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您心情不愉快，情绪低落吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您遇事是否心情紧张？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您是否总会想事情不乐观的一面以致情绪不好？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您容易感到害怕或受到惊吓吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您感觉身体沉重吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您感到手脚心发热吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您手脚发凉吗？（不包含周围温度低或穿的少导致的手脚发冷）</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您上腹部、背部、腰部或膝关节有一处或多处怕冷吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您比别人容易害怕冬天或是夏天的冷空调、电扇吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>一年不超过2次</string>
			<string>一年2-4次</string>
			<string>一年5-6次</string>
			<string>一年8次以上</string>
			<string>几乎每月都感冒</string>
		</array>
		<key>title</key>
		<string>您每年感冒的次数？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您没有感冒时也会鼻塞、流鼻涕吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您有前额或脑门油脂分泌多的现象吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>一年1、2次</string>
			<string>一年3、4次</string>
			<string>一年5、6次</string>
			<string>每次遇到上述原因都过敏</string>
		</array>
		<key>title</key>
		<string>您容易过敏(对药物、食物、气味、花粉或在季节交替、气候变化时)吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您的皮肤容易起荨麻疹吗? (包括风团、风疹块、风疙瘩和过敏性皮疹)</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您的皮肤在不知不觉中会出现青紫瘀斑、皮下出血吗?（指皮肤在没有外伤的情况下出现青一块紫一块的情况）</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您的皮肤一抓就红，并出现抓痕吗?（指被指甲或钝物划过后皮肤的反应）</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您皮肤或口唇干吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您两颧部有细微红丝吗?(脸颊部位细微的血丝,像钞票上的纹路)</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您面部或鼻部有油腻感或者油亮发光吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您面色晦黯或出现褐斑吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您容易生痤疮或疮疖吗?</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您感到口干咽燥、总想喝水吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您感到口苦或嘴里有异味吗?（指口苦或口臭）</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>腹围&lt;2.4尺</string>
			<string>腹围2.4-2.55尺</string>
			<string>腹围2.56-2.7尺</string>
			<string>腹围2.71-3.15尺</string>
			<string>腹围&gt;3.15尺</string>
		</array>
		<key>title</key>
		<string>您腹部脂肪肥厚吗?（ 1尺=33.33厘米）</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您不喜欢吃凉的食物，或吃了凉的食物后会不舒服吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您有大便黏滞不爽、解不尽的感觉吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您容易便秘或大便干燥吗？</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您舌苔厚腻或有舌苔厚厚的感觉吗？（如果不清楚可咨询医生）</string>
	</dict>
	<dict>
		<key>answer</key>
		<array>
			<string>没有</string>
			<string>很少</string>
			<string>有时</string>
			<string>经常</string>
			<string>总是</string>
		</array>
		<key>title</key>
		<string>您舌下静脉瘀紫吗？（如果不清楚可咨询医生）</string>
	</dict>
</array>
</plist>
