@import "../common/public";
body{
  background: #F6F6F6;
}
em{font-style: normal;}
.pos-relative{
  position: relative;
}
.pos-fixed{
  position: fixed;
  bottom: $btn-width;
  width: 100%;
  text-align: center;
}
.rarrow::after{
  content: '';
  display: inline-block;
  width: 0.35rem;
  height: 0.35rem;
  border: 1px solid #d4d4d4;
  border-width: 0.061667rem 0.061667rem 0 0;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  margin-top: -0.175rem;
  @include rotate(45deg);
}
.topmenu{
  background: #fff;
  height:1.066667rem;
  border-bottom: 1px solid $border-color;
  li{
    float: left;
    width: 25%;
    text-align: center;
    @include font-dpr(14px);
    a{
      color: #333;
      height: 1.04rem;
      line-height: 1.04rem;
      border-bottom: 2px solid #fff;
      display: inline-block;
      width: 100%;
      margin-top: 0;
    }
    &.current a{
      color: $btn-color;
      border-color: $btn-color;
    }
  }
}
#scrolling_wrap{
  top:1.08rem;
}
.index-box{
  background: #fff;
  padding:0 $btn-width;
  @include font-dpr(16px);
  .ipt-text{
    border: none;
    height: 1.333333rem;
    line-height: normal;
    margin-top: 2px;
    width: 100%;
    border-bottom: 1px solid $border-color;
  }
  .search-box{
    display: none;
    border-top: 2px solid #FFA217;
    li{
      height: 1.333333rem;
      line-height: 1.333333rem;
      width: 100%;
      border-bottom: 1px solid $border-color;
      span{
        color:$btn-color;
      }
    }
  }
  .list-selectTime{
    li{
      height: 1.666666rem;
      width: 100%;
      border-bottom: 1px solid $border-color;
      position: relative;
      label{
        display: inline-block;
        width: 100%;
        padding-top: 0.433333rem;
      }
      span{
        position: absolute;
        right: 0;
        top: 0.43333rem;
        bottom: 0;
      }
      &.choosed{
        color: $btn-color;
      }
      &:last-child{
        border:0;
      }
    }
  }
}
.list-box{
  background: #F6F6F6;
  li{
    background: #fff;
    margin-top: 0.266667rem;
    padding: 0.3rem $btn-width;
    position: relative;
    @include font-dpr(14px);
    .p_line {
      padding: 0.066667rem 0;
      display: table;
      width: 100%;
      label{
        display: table-cell;
        padding-right:0.266667rem;
        white-space: nowrap;
        vertical-align: top;
      }
      p,.td_p{
        display: table-cell;
        width: 100%;
      }
    }
  }
}
.max-hei{
  @include max-line(2);
}
.max-hei-1{
  @include max-line(1);
}
.block-box{
  background: #fff;
  margin-top: 0.266667rem;
  padding:0 $btn-width $btn-width;
  h3{
    @include font-dpr(18px);
    height: 1.333333rem;
    line-height: 1.333333rem;
    border-bottom: 1px solid $border-color;
  }
  h5{
    @include font-dpr(16px);
    font-weight: bold;
    margin: 0.533333rem 0 0.133333rem;
  }
  .con{
    @include font-dpr(16px);
    padding:0.266667rem 0 0;
  }
  .item{
    @include font-dpr(16px);
    padding-top: 0.266667rem;
    em{
      display: inline-block;
      margin-right: 0.266667rem;
      color: #000;
    }
    table{
      td{
        padding: 0.2rem 0;
        line-height: 1;
      }
    }
  }
}
.list-inspect{
  li{
    position: relative;
    border-bottom: 1px solid $border-color;
    padding:0.266667rem 0;
    @include font-dpr(16px);
    color: #666;
    h4{
      font-weight: normal;
    }
    p{
      span{
        display: inline-block;
      }
    }
    .judge{
      position: absolute;
      top:50%;
      right: 0;
      font-style: normal;
      height: 0.666667rem;
      line-height: 0.666667rem;
      margin-top: -0.333333rem;
    }
    .judge-low{
      color: #FFA217;
    }
    .judge-high{
      color: #FA3E34;
    }
  }
  li:last-child{
    border-bottom: 0;
  }
}
