<div class="wrapper" ng-controller="doctorEditController">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            <span ng-click="backToList()"><i class="fa fa-mail-reply"></i></span>
            <string>医生编辑</string>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-md m-b-md" name="doctorEdit">
                <div class="form-group">
                    <label class="col-lg-2 control-label">医生名称：</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="doctorObj.doctorName" maxlength="20" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">医生头像:</label>
                    <div class="col-lg-2">
                        <div class="upload-box" upw="200" uph="100" get-url="setPicurl(url)" on-close="onClose()" url="doctorObj.headphoto" fileread/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">职称：</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="doctorObj.doctorTitle" maxlength="20" ng-disabled="doctorObj.professionalTitle" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">所在科室：</label>
                    <div class="col-lg-3">
                        <select class="form-control inline v-middle formGroup" ng-model="doctorObj.topDeptCode" required>
                            <option value="">请选择</option>
                            <option ng-repeat="item in firstDepts track by $index" value="{{item.deptCode}}" ng-selected="item.deptCode==doctorObj.topDeptCode">{{item.deptName}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control inline v-middle formGroup" ng-model="doctorObj.deptCode" required>
                            <option value="">请选择</option>
                            <option ng-repeat="item in secondDepts track by $index" value="{{item.deptCode}}" ng-selected="item.deptCode==doctorObj.deptCode">{{item.deptName}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">简介：</label>
                    <div class="col-lg-6">
                        <div>
                            <textarea class="form-control" ng-model="doctorObj.doctorDesc" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">擅长：</label>
                    <div class="col-lg-6">
                        <div>
                            <textarea class="form-control" ng-model="doctorObj.expertin" rows="3" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 control-label">是否启用：</label>
                  <div class="col-lg-4">
                    <div class="radio-inline">
                      <label>
                        <input type="radio" name="delFlag" value="0" ng-model="doctorObj.delFlag" required />是
                      </label>
                    </div>
                    <div class="radio-inline">
                      <label>
                        <input type="radio" name="delFlag" value="1" ng-model="doctorObj.delFlag" required />否
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <button type="button" class="btn btn-success" ng-disabled="doctorEdit.$invalid" ng-click="saveData(doctorObj)">保存</button>
                        <span ng-click="backToList()" class="btn btn-default">返回</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
