<div class="wrapper" ng-controller="hospitalMerchantEdit">
    <div class="panel panel-default">
        <div class="panel-heading font-bold">
            <a ng-click="goBack()"><i class="fa fa-mail-reply"></i></a>
            <string>商户维护</string>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-md m-b-md" name="hospitalMerchantEdit">
                <div class="form-group">
                    <label class="col-lg-2 control-label">医院编码：</label>
                    <div class="col-lg-6">
                        <label class="control-label" ng-bind="hospitalObj.hospitalCode"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">医院名称：</label>
                    <div class="col-lg-6">
                        <label class="control-label" ng-bind="hospitalObj.hospitalName"></label>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-lg-2 control-label">子商户号：</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="hospitalObj.submerno" />
                    </div>
                </div> -->
                <div class="form-group">
                    <label class="col-lg-2 control-label">appid：</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="hospitalObj.appid" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">appSecret：</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="hospitalObj.appSecret" required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <button type="button" class="btn btn-success" ng-disabled="hospitalMerchantEdit.$invalid" ng-click="saveData()">保存</button>
                        <a ng-click="goBack()" class="btn btn-default">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
