<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maplist</key>
	<array>
		<dict>
			<key>urlPage</key>
			<string>system_message</string>
			<key>object</key>
			<string>SCSystemListViewController</string>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>extract</string>
			<key>object</key>
			<string>TakeReportViewController</string>
			<key>needLogin</key>
			<true/>
			<key>needVerification</key>
			<true/>
			<key>parameter</key>
			<dict>
				<key>type</key>
				<string>type</string>
			</dict>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>my_attention</string>
			<key>object</key>
			<string>MyAttentionViewController</string>
			<key>parameter</key>
			<dict>
				<key>uid</key>
				<string>uid</string>
			</dict>
			<key>needLogin</key>
			<true/>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>pay_order</string>
			<key>object</key>
			<string>SCOnlinePayRootViewController</string>
			<key>needLogin</key>
			<true/>
			<key>needVerification</key>
			<true/>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>nearby_hospital</string>
			<key>object</key>
			<string>SCNearbyHospitalViewController</string>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>appointment</string>
			<key>object</key>
			<string>WDHospitalListRootViewController</string>
			<key>needLogin</key>
			<true/>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>webview</string>
			<key>object</key>
			<string>WDBaseWebViewController</string>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>userLogin</string>
			<key>object</key>
			<string>LoginViewController</string>
			<key>parameter</key>
			<dict>
				<key>hospitalId</key>
				<string>hospitalId</string>
			</dict>
		</dict>
		<dict>
			<key>urlPage</key>
			<string>feedback</string>
			<key>object</key>
			<string>FeedBackViewController</string>
		</dict>
	</array>
</dict>
</plist>
